{% extends "@DestinyApp/frontendBase.html.twig" %}


{% block h1Title %}

	<a href="{{ path('portadaBackend') }}" class="btn btn-info">Ir al backend</a>

{% endblock %}
{% block  frontBody %}
	{{ empresa.web }}<br>
	{{ seccion.tituloSeo }}<br>
	{%  include "@DestinyApp/Frontend/includes/contenido.html.twig" %}

<ul>
{% if list|length != 0 %}
{% for new in list.noticias  %}
<li>
	<a href="{{ path ('newsWeb',{'section':seccion.url,'language':language.isoCode,'news':new.slug,'year':new.fechaCreacion | date ('Y')}) }}">
		{{ new.titulo }}
	</a>
</li>

{% endfor %}
</ul>

    <ul>
        {% for category in list.categorias if list is iterable %}
        <li>
            <a href="{{ path ('newsCategoryWeb',{'section':seccion.url,'language':language.isoCode,'category':category.slug,'year':category.fechaCreacion | date ('Y')}) }}">
                {{ category }}
                </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
