{% extends "@DestinyApp/frontendBase.html.twig" %}


{% block h1Title %}

	<a href="{{ path('portadaBackend') }}" class="btn btn-info">Ir al backend</a>

{% endblock %}
{% block  frontBody %}
	{{ empresa.web }}<br>

	{%  include "@DestinyApp/Frontend/includes/contenido.html.twig" %}

<ul>
{% for url in urls %}
    {% for menusWeb in url %}
    <li>{{ menusWeb.menu }}<img class="flagIcon defecto" src="{{ asset(menusWeb.idioma.webPath) }}"></li>
    <ul>
        {% for seccion in menusWeb.secciones if  seccion.url != null %}
            <li>
                <a href="{{ path('seccionWeb',{'language':language.isoCode,'section':seccion.url}) }}">{{ seccion }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}
</ul>
{% endblock %}
