<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
<h2>{{articulo.titulo | capitalize}} </h2>
<div class="articulo">
    <div class="contenido-articulo">
        <div class=" col-md-12 col-xs-12">
            {{ articulo.descripcion | raw }}
        </div>
    </div>
</div>

<<<<<<< HEAD
=======
=======
{{articulo.titulo }} || {{ articulo.fechaModificacion | date ("d/m/y  H:i") }}<br>
{{ articulo.descripcion | raw }}<br>
>>>>>>> origin/master
>>>>>>> origin/master
