<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
<div class="col-md-12">
<img src="{{ asset((imagen.webPath is null
          ? imagen.canonica.webPath
          : imagen.webPath)) | imagine_filter('image_front') }}"
     alt="{{ imagen.alt }}"
     title="{{ imagen.descripcion }}"
     class="responsive">
    </div>

<<<<<<< HEAD
=======
=======
<img src="{{ asset((imagen.webPath is null
          ? imagen.canonica.webPath
          : imagen.webPath)) }}"
     alt="{{ imagen.alt }}"
     title="{{ imagen.descripcion }}">
<br>
>>>>>>> origin/master
>>>>>>> origin/master
