<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master

<div class="col-md-12 slider">
    <ul class="rslides" id="slider">
    {% for imagen in slider.group.values %}
        {% if language.defecto == true %}

            <li><img src="{{ asset(imagen.webPath) | imagine_filter('image_front') }}" alt="{{ imagen.alt }}"
                 title="{{ imagen.descripcion }}">
            </li>
        {% else %}
            {% for imagenTraduccion in  imagen.traducciones.values  %}
                {% if imagenTraduccion.idioma.isoCode == language.isoCode %}
                <li>
                    <img src="{{ asset((imagenTraduccion.webPath is null
                                        ? imagenTraduccion.canonica.webPath
                                        : imagenTraduccion.webPath))| imagine_filter('image_front')  }}"
                         alt="{{ imagenTraduccion.alt }}"
                         title="{{ imagenTraduccion.descripcion }}">
                         </li>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endfor %}

    </ul>
</div>
<<<<<<< HEAD
=======
=======
{{ slider }}<br>
{{ slider.descripcion | raw }}<br>

{% for imagen in slider.group.values %}
	{% if language.defecto == true %}

		<img src="{{ asset(imagen.webPath) }}" alt="{{ imagen.alt }}"
		     title="{{ imagen.descripcion }}">

	{% else %}
		{% for imagenTraduccion in  imagen.traducciones.values  %}
			{% if imagenTraduccion.idioma.isoCode == language.isoCode %}

				<img src="{{ asset((imagenTraduccion.webPath is null
									? imagenTraduccion.canonica.webPath
									: imagenTraduccion.webPath)) }}"
					 alt="{{ imagenTraduccion.alt }}"
				     title="{{ imagenTraduccion.descripcion }}">
			{% endif %}
		{% endfor %}
	{% endif %}
	
{% endfor %}

<br>
>>>>>>> origin/master
>>>>>>> origin/master
