<div class="box">
<div class="box-body table-responsive no-padding">

	<table class="table table-condensed">
		<thead>
		<tr>
			<td>#</td>
			<td width="25%">
                {{ name | trans }}
                <a href="{{ path('orderByBackend',{'entity':entity,'order':'nombre','asc':'asc' }) }}">
                    <i class="fa fa-sort-alpha-asc"></i>

                </a>
                <a href="{{ path('orderByBackend',{'entity':entity,'order':'nombre','asc':'desc' }) }}">
                    <i class="fa fa-sort-alpha-desc"></i>

                </a>
            </td>

			{% for element in listElements | keys %}
				<td>

                        {{ element }}
                    <a href="{{ path('orderByBackend',{'entity':entity,'order':element,'asc':'asc' }) }}">
                        <i class="fa fa-sort-alpha-asc"></i>

                    </a>
                    <a href="{{ path('orderByBackend',{'entity':entity,'order':element,'asc':'desc' }) }}">
                        <i class="fa fa-sort-alpha-desc"></i>

                    </a>
                </td>
			{% endfor %}
			<td>{{ status | trans }}</td>
            <td>{{ 'form.lastmodification' | trans }}</td>
			{% if cantDelete is defined and cantDelete == true %}
			<td>{{ 'form.delete' | trans }}</td>
			{% endif %}
			{% if listButton != false %}
				<td>

				</td>
			{% endif %}
		</tr>
		</thead>
		<tbody>

		{% for element in list %}


        {% include '@DestinyApp/Backend/Include/fila.html.twig' %}

            {% if element.subSecciones is defined %}
                {% set list = element.subSecciones.values %}
                {% for element in  list %}
                    {% include '@DestinyApp/Backend/Include/fila.html.twig' %}
                {% endfor %}
            {% endif %}
		{% else %}
			<tr>
				<td colspan="8">{{ 'list.nothing' | trans }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
