<<<<<<< HEAD
{% extends "@DestinyApp/Frontend/jvieites/jvieitesBase.html.twig" %}
=======
<<<<<<< HEAD
{% extends "@DestinyApp/Frontend/jvieites/jvieitesBase.html.twig" %}
=======
{% extends "@DestinyApp/Frontend/destiny/destinyBase.html.twig" %}
>>>>>>> origin/master
>>>>>>> origin/master


{% block h1Title %}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
	{{ seccion.tituloSeccion }}

{% endblock %}
{% block  frontBody %}
    {%  include "@DestinyApp/Frontend/jvieites/includes/contenido.html.twig" %}
{% endblock %}
 {% block contacto %}

     <div class="modulo">
<<<<<<< HEAD
         <div class="titulo-modulo">{{ 'front.contacte' | trans}}</div>
=======
         <div class="titulo-modulo">Contacte con nosotros</div>
>>>>>>> origin/master
         <div class="contenido-modulo">
        <span>
            <i class="fa fa-envelope"></i>
            <a href="mailto:{{ empresa.web.email }}">{{ empresa.web.email }}</a>
        </span>
             {% include "@DestinyApp/Frontend/jvieites/includes/formulario.html.twig" with {'form':typeContent} %}
         </div>
     </div>

<<<<<<< HEAD
 {% endblock %}
=======
 {% endblock %}
=======
	<a href="{{ path('portadaBackend') }}" class="btn btn-info">Ir al backend</a>

{% endblock %}
{% block  frontBody %}
	{{ empresa.web }}<br>

    {%  include "@DestinyApp/Frontend/jvieites/includes/contenido.html.twig" %}

	{{ form_start(form) }}
	<div class="box-body clearfix">
		{% for field in form.children if (field.vars.name != '_token') %}
			<div class="form-group {% if not field.vars.valid %}has-error{% endif %}">
				{% set field_label = entity_fields[field.vars.name]['label']|default(null) %}
				{{ form_label(field, field_label, { label_attr: { class: 'col-sm-12 control-label' } }) }}

				<div class="col-sm-12">
					{% set tinymce = (field.vars.name == 'descripcion') ? 'tinymce' :'' %}
					{{ form_widget (field,{'attr':{'class':'form-control '~ tinymce}}) }}

					{% for attrname,attrvalue in  field.vars.attr %}
						{% if attrname == 'help' %}
							<span class="help-block">{{ attrvalue }}</span>{% endif %}
					{% endfor %}

					{%  if form_errors(field)  %}

						<div class="alert alert-danger fade in">
							<a data-dismiss="alert" class="pull-right" href="" type="button">
								<i class="fa fa-times"></i>
							</a>
							<strong>Error</strong><br>
							{{ form_errors(field)}}

						</div>

					{%  endif %}


				</div>
			</div>
		{% endfor %}
	</div>


	<div class="box-footer clearfix">
		<button type="submit" class="btn btn-success pull-right" value="Submit" >SEND</button>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}




{% endblock %}
>>>>>>> origin/master
>>>>>>> origin/master
