{% extends "::base.html.twig" %}
{% block idioma %}{{ language.isoCode }}{% endblock %}
{% block links %}
    {% set idioma = plantilla.idiomaDefecto.isoCode %}
    {% set rutaSeccion = (seccion.canonica is defined) ? seccion.canonica.url : seccion.url %}
    {% set ruta = (seccion.portada == true)
            ?  path('portadaWeb',{'language':idioma})
            :  path('seccionWeb',{'section':rutaSeccion,'language':idioma})
    %}
    <link rel="canonical" href="{{ ruta }}">
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('asset/frontend/css/front.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/frontend/css/responsiveslides.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
<div class="container">
    <div class="header">
    <div class="logo">

        <div class="col-md-3 col-xs-6">
            <a href="{{ path('portadaWeb',{'language':language.isoCode}) }}">
                <img  class="responsive" alt="{{ empresa.web.nombre }}" src="{{ asset(empresa.web.webPath | imagine_filter('image_logo'))  }}">
            </a>
        </div>
        <div class="col-md-6 col-xs-6" id="nombre-empresa">
            {{ empresa.web.slogan | raw }}
        </div>
        <div class="col-md-3 col-xs-12">
            <ul class="menu-inferior pull-right" id="idiomas">
                {% for idioma in plantilla.idiomas %}
                    {% set ruta = (seccion.portada == true)
                        ?  path('portadaWeb',{'language':idioma.isoCode})
                        :  path('seccionWeb',{'section':seccion.url,'language':idioma.isoCode})
                    %}
                <li>
                    <a href="{{ ruta }}"><img src="{{ asset(idioma.webPath) }}" title="{{ idioma }}" alt="{{ idioma.isoCode }}"></a>
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
            <div class="logo-feni">
                <a target="_blank" href="http://www.fenieenergia.es/">
                    <img alt="fenienergia_logo" src="{{ asset('/asset/frontend/img/fnd_servicio_tecnico.jpg') }}">
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

	    {% include ('@DestinyApp/Frontend/jvieites/includes/menu.html.twig') %}
    </div>
    <div class="principal">
        <div class="contenido-web col-md-9 col-xs-12">

            <h1>{% block h1Title %}{{ seccion.tituloSeccion }}{% endblock %}</h1>



            <div class="col-md-12 alerta">
                {% for type, flashMessage in app.session.flashbag.all() %}
                    <div class="alert alert-{{ type }} fade in">
                        <a data-dismiss="alert" class="pull-right" href="" type="button">
                            <i class="fa fa-times"></i>
                        </a>
                        {% if flashMessage.title is defined %}
                            <strong>{{ flashMessage.title }}</strong><br>
                            {{ flashMessage.message }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% block  frontBody %}

            {% endblock %}

        </div>
        <div class="izquierda col-md-3 col-xs-12">
            {% block izquierda %}
                <div class="modulo">
                   {# @todo cambiar por traducción#}
                    <div class="titulo-modulo">Llamanos</div>
                    <div class="contenido-modulo">
                        <i class="fa fa-phone"></i><span><a href="telf:{{ empresa.contacto.telefono }}">{{ empresa.contacto.telefono }}</a></span><br>
                        <i class="fa fa-phone"></i><span><a href="telf:{{ empresa.contacto.movil }}">{{ empresa.contacto.movil }}</a></span><br>
                    </div>
                </div>
                <div class="modulo">
                    {# @todo cambiar por traducción#}
                    <div class="titulo-modulo">Donde estamos</div>
                    <div class="contenido-modulo">
                        <i class="fa fa-map-marker"></i>
                        {{ empresa.contacto.direccionCompleta }}
                    </div>
                </div>
            {% block contacto %}{% endblock %}
                <div class="modulo">
                    {# @todo cambiar por traducción#}
                    <div class="titulo-modulo">Suscribete a nuestra newsletter</div>
                    <div class="contenido-modulo">
                        {% include "@DestinyApp/Frontend/jvieites/includes/formulario.html.twig" with {'form':newsletter} %}
                    </div>
                </div>
            {% endblock %}
        </div>
	</div>
</div>
{% endblock %}
{% block footer %}

    <div class="container">
        <p class="text-muted">
        <div class="col-md-4 col-xs-12">
            <ul class="menu-inferior">
                {% for seccion in plantilla.menu('legal',language) %}


                    <li><a href="{{ path('seccionWeb',{'section':seccion.url,'language':language.isoCode}) }}">{{ seccion.etiquetaMenu }}</a></li>

                {% endfor %}
                <li><a href="{{ path('sitemapXml') }}">Sitempap (xml)</a></li>

            </ul>
        </div>
        <div class="col-md-5 col-xs-12">
            <a href="mailto:carlos.sgude@gmail.com">
            Designed by Calos Gude
            </a>
        </div>
        <div class="col-md-3 col-xs-12">
            <ul class="menu-inferior" id="redes-sociales">
                {% for social in plantilla.redesSociales %}
                   <li><a href="{{ social.url }}">{{ social.iconoFA | raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <!-- secciones de la web -->

        <!-- /secciones de la web -->
    </ul>

{% endblock %}

{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="{{ asset('asset/frontend/js/responsiveslides.js') }}"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 1
        $("#slider").responsiveSlides({
            maxwidth: 367,
            speed: 800

        });
    });
</script>
{% endblock %}
